.dashboard{}

.adminPage .dashboard>.flex{
    margin-bottom: 1.75rem;
}
.adminPage .dashboard>.flex:last-child{
    margin-bottom: 0;
}
.dashboard .display-total{
    width: 100%;
}
.dashboard .display-total h1{
}
.dashboard .display-total p{
    margin-top: 1rem;
}